h1 {border: solid black 1px;
    border-bottom: solid black 2px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 30px 100px;
    background-image: url(global-internet-thumbnail.jpg);
    background-position: 0% 35%;
    font-size: 28pt;}

nav {background-color: #122438;
     padding: 15px;
     margin-top: 0;
     margin-bottom: 10px;
     float: left;}   
      
nav a {text-decoration: none;
	font-size: 13pt;
       color: #e2f0ff;
       padding: 15px;}
       
nav a:hover {background-color: #07111c;}

body {background-color: #dbf4ff;
      background-image: linear-gradient(to bottom, #88befc, #02195b);
      margin: auto;
      width: 90%;}
    
main {background-color: #f7fcff;
      margin-top: 10px;
      padding: 40px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1), 0 0 10px 1px rgba(0, 0, 0, 0.1);}
     
h2 {color: #122438;
    font-size: 22pt;
    margin-top: 0;}

footer {text-align: center;
        color: #e2f0ff;}

footer a {color: #d9e8f9;
          text-decoration: none;}
         
footer a:hover {color: white;
                text-decoration: underline;}

#resume {background-color: white;
         border: solid grey 1px;
         padding: 30px;}

#top {text-align: center; font-size: 10pt;}

#scott {font-size: 16pt;}

#resume li {font-size: 11pt;}

#awards li {font-size: 12pt;}

#resume p,td,tr,ul {margin-top: 0;
                    margin-bottom: 0;}

#resume h3 {margin-bottom: 0;}

#downloadResume {text-align: center;}

#downloadResume a {color: #122438;
                   text-decoration: none;
                   font-size: 13pt;}

#downloadResume a:hover {color: #7c8da8;
                         text-decoration: underline;}